a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
td:hover {
    background-color: #AAAA99;
}

th:hover {
    background-color: #f1f1f1;
}

.pg-table-body tr:nth-child(even)	{ background: #fafafa; }
.pg-table-body tr:nth-child(odd)	{ background: #fff; }

.pg-header-cell-sorteddesc::before {
    content: " ";
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #009a67;
    border-width: 0 5px 5px;
}
.pg-header-cell-sortedasc::before {
    content: " ";
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-color:  #a8dba1 transparent transparent;
    border-width: 5px 5px 0;
}
/*/
.pg2 {
    overflow: hidden;
}

.pg2-header {
	overflow: hidden; 
	position: relative;  
}

.pg2-header-row {
    overflow: hidden;
    /*position: relative;*/
    white-space: nowrap;
    cursor: default;
    background-color: #b5b2b2;
    /*border-top-right-radius: 20px;*/
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
}

.pg2-header-resize-handle-row {
    position: relative;
    overflow: visible;
    background-color: #dadada;
}

.pg2-resize-handle {
    position: absolute;
    background-image: url(../icons/leftright.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    z-index: 1;
    overflow: visible;
}

/*.pg2-header-cell:hover {
    background: linear-gradient(to bottom, rgba(66,78,96,1) 0%,rgba(43,56,87,1) 100%);
}*/
.pg2-header-cell {
    position: relative;
    display: inline-block;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    color: #a8a8a8;
    /*background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);*/
    /*color: #2DCABF;*/
    /*border-right: 1px dotted silver;
    border-bottom-color: silver;*/
    padding: 1px 1px 1px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    cursor: default; 
}

/*.pg2-canvas {
    background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABKSURBVChTY4ABH/6L/6FMOEAWY4TSYICueMtHfbg8nIHNRBCAKWYCETBFyCbA2DA5FA4uANYEU4RNMbIc2GqSAbKp2GygJmBgAACi1SVgsrZl4wAAAABJRU5ErkJggg==
    ) repeat;
}*/
.pg2-viewport {
	overflow: auto; 
	/*position: relative;*/ 
	-webkit-overflow-scrolling: touch; 
}

.pg2-canvas {
	position: relative; 
}

.pg2-row {
    position: absolute;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
    background-color: #EAF2F3;
    /*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.05) 100%) repeat scroll 0 0;*/
    color: #444;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
}
.pg2-row-even {
    background-color: #FEFEFE;
}

.pg2-cell:hover {
    border: 1px solid #555;
}

.pg2-cell {
    position: relative;
    display: inline-block;
    border: 1px solid #B5C8CE;
    /*border-right: 1px solid #B5C8CE;
    border-bottom-color: #B5C8CE;*/
    padding: 1px 1px 1px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    cursor: default; 
}

.barbox {
    background: #2989d8;
    display: inline-block;
    height: 6px;
    border-radius: 3px;
}


.pg2-columnResizeHandle-touch-active {
    background: #dde1ea;
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -2px;
    /*cursor: col-resize;*/
    border-radius: 1px;
}

.pg2-columnResizeHandle-notouch-active {
    background: #dde1ea;
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -2px;
    cursor: col-resize;
    border-radius: 1px;
}

.pg2-columnResizeHandle-notouch:hover {
    background: #dde1ea;
     /*background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZSURBVBhXYyjIKfjPAAQwmglEIANCAgwMABl3BJ1lYn5tAAAAAElFTkSuQmCC
     ) repeat;*/
}

.pg2-columnResizeHandle-touch {
    display: block;
    background: transparent;/* rgba(0, 0, 0, 0.02);*/
    height: 100%;
    position: absolute;
    top: -3px;
    right: 2px;
    cursor: col-resize;
    border-radius: 1px;
    text-align: right;
}

.pg2-columnResizeHandle-notouch {
    display: block;
    background: transparent;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -2px;
    cursor: col-resize;
    border-radius: 1px;
}